<%= Date.today %><br>
ようこそ<%= @user.uid %>さん<br>
現在のポイント：<%= @user.exe %>P

<br>
<%= link_to "じゃんけんをする", home_index_path %>
<br>
<%= link_to 'プロフィール表示', users_show_path %>
<%= link_to 'ログアウト', top_logout_path %>

<br><br>
ランキング<br>
<table border="1">
 <tr>
   <th>順位</th>
   <th>uid</th>
   <th>ポイント</th>
 </tr>
 <% rank = 0 %>
<% @u.each do |t| %>
 <tr>
   <% rank += 1 %>
   <td><%= rank %></td>
   <td><%= t.uid %></td>
   <td><%= t.exe %></td>
 </tr>
<% end %>
</table>
