現在のポイント：<%= @user.exe %>P


<table border="1">
	<tr>
		<th>ポイント</th>
		<th>BTC</th>
		<th>BTCアドレス</th>
		<th>送金</th>
	</tr>

	<tr>
		<td>100P</td>
		<td>0.001BTC</td>
		<td>address</td>
		<td>
			<%= link_to '送金依頼', main_sen_path %>
		</td>
	</tr>
</table>

<%= link_to 'プロフィールの表示', users_show_path %>
<%= link_to 'ホームに戻る', main_index_path %>
