<%= flash.now[:error] %>
<%= form_tag url: manager_index_path do %>
<table>
	<tr>
		<td><%= label_tag :uid, 'ID' %></td>
		<td><%= text_field_tag :uid %></td>
	</tr>
	<tr>
		<td><%= label_tag :pass, 'パスワード' %></td>
		<td><%= password_field_tag :pass %></td>
	</tr>
	<tr>
		<td colspan="2"><%= submit_tag 'ログイン' %></td>
	</tr>
</table>
<% end %>

<p>
	<%= link_to '戻る', top_login_path %>
</p>
