<%= flash.now[:er] %>
<%= form_tag url: top_login_path do %>
<table>
	<tr>
		<td><%= label_tag :uid, 'ID' %></td>
		<td><%= text_field_tag :uid %></td>
	</tr>
	<tr>
		<td><%= label_tag :pass, 'パスワード' %></td>
		<td><%= password_field_tag :pass %></td>
	</tr>
	<tr>
		<td colspan="2"><%= submit_tag 'ログイン' %></td>
	</tr>
</table>
<% end %>

<p>
	<%= link_to 'ユーザ登録', users_new_path %>
</p>
<p>
	<%= link_to 'ユーザ一覧', users_index_path %>
</p>
<p>
	<%= link_to '管理者ログイン', manager_login_path %>
</p>
