<%= form_for @user, url: users_update_path  do |f| %>

<table>
	<tr>
		<td><%= f.label :uid, 'ID' %></td>
		<td><%= f.text_field :uid %></td>
	</tr>
	<tr>
		<td><%= f.label :password, 'パスワード' %></td>
		<td><%= f.password_field :password %></td>
	</tr>
	<tr>
		<td><%= f.label :password_confirmation, 'パスワード（確認）' %></td>
		<td><%= f.password_field :password_confirmation %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.submit '登録' %></td>
	</tr>
</table>

<% end %>

<%= link_to "戻る", users_show_path %>
