<table border="1">

	<tr>
		<th>user_id</th>
		<th>ID</th>
		<th>パスワード</th>
		<th>操作</th>
	</tr>

<% @users.each do |e| %>
	<tr>
		<td><%= e.id %></td>
		<td><%= e.uid %></td>
		<td><%= e.pass %></td>
		<td>
			<%= link_to '削除', user_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
		</td>
	</tr>

<% end %>

</table>

<p>
	<%= link_to 'ユーザ登録', new_user_path %>
</p>
<p>
	<%= link_to 'トップへ', top_login_path %>
</p>
