<%= @user.uid %>
<%= @user.exe %>P
<br>
<%= link_to 'ポイント交換', main_point_path %>

<table border="1">
	<tr>
		<th>ID</th>
		<th>uid</th>
		<th>ポイント</th>
		<th>操作</th>
	</tr>

	<tr>
		<td><%= @user.id %></td>
		<td><%= @user.uid %></td>
		<td><%= @user.exe %></td>
		<td>
			<%= link_to 'アカウントの削除', user_path(@user), method: :delete, data: { confirm: '削除していいですか？' } %>
		</td>
	</tr>
</table>

<%= link_to 'プロフィールを変更', users_edit_path %>
<%= link_to 'ホームに戻る', main_index_path %>
