じゃんけん<br><hr>

<%= flash.now[:aiko] %><br>
<%= link_to "グー", home_result_path(player_hand: 0) %>
<%= link_to "チョキ", home_result_path(player_hand: 1) %>
<%= link_to "パー", home_result_path(player_hand: 2) %>
